{% extends 'pages/base.html' %}
{% load static %}

{% block navbar %}
{% include 'pages/navbar_maintainer.html' %}
{% endblock %}

{% block mainBody %}
<section class="hero">
    <p style="text-align:center;">Maintainer: {{request.user}} <a href="{% url 'logoutUser' %}"><span
            style="color:rgba(201, 219, 10, 0.9);">[Logout]</span></a></p>
    <div class="background-image" style="background-image: url({% static 'assets/img/balloon.jpg' %});"></div>
    <h1>Maintainer Home Page</h1>
    <h3>Hard Drive Tracking System</h3>
    <h2 class="title">User Summary</h2><br>
    <h4>Requesters</h4>
    {%for each_user in requesters%}
    {{each_user.first_name}} {{each_user.last_name}} |
    {{each_user.requester_status}} |
    {% if each_user.user in requester_group %}Permission Granted{% else %}Permission Denied{% endif %}
    <br>
    {%endfor%}<br><br>

    <h4>Maintainers</h4>
    {%for each_user in maintainers%}
    {{each_user.first_name}} {{each_user.last_name}} |
    {{each_user.maintainer_status}} |
    {% if each_user.user in maintainer_group %}Permission Granted{% else %}Permission Denied{% endif %}
    <br>
    {%endfor%}<br><br>

    <h4>Auditors</h4>
    {%for each_user in auditors%}
    {{each_user.first_name}} {{each_user.last_name}} |
    {{each_user.auditor_status}} |
    {% if each_user.user in auditor_group %}Permission Granted{% else %}Permission Denied{% endif %}
    <br>
    {%endfor%}
    <br>
    <hr>

    <h2 class="title">Request Summary</h2><br>
    {%for each_request in requests %}
    Receipt Number<br>
    {{each_request.receipt_number}}<br>
    Username | Event Lead & Participants<br>
    {{each_request.requester.user.username}} | {{each_request.event}}<br>
    Hard Drives Assigned<br>
    {% for hard_drive in each_request.hard_drive.all %}
    {{ hard_drive.serial_number}}<br>
    {% endfor %}
    Status<br>
    {{each_request.status}}
    <br><br>
    {%endfor%}
    <br>
    <hr>

    <h2 class="title">Hard Drive Summary</h2><br>
    {%for each_hard_drive in hard_drives %}
    {{each_hard_drive.serial_number}}<br>
    {{each_hard_drive.request}} | {{each_hard_drive.status}}<br>
    <br>
    {%endfor%}
	<br>
    <hr>

    <h2 class="title">Event Summary</h2><br>
    {%for each_event in events %}
    {{each_event.name}}<br>
    {{each_event.lead}} | {{each_event.type}} | {{each_event.status}}<br>
    <br>
    {%endfor%}
	<br>
    <hr>

</section>

{% endblock %}