{% extends 'pages/base.html' %}
{% load static %}

{% block navbar %}
{% include 'pages/navbar_requester.html' %}
{% endblock %}

{% block mainBody %}
<section class="hero">
    <p style="text-align:center;">Requester: {{request.user}} <a href="{% url 'logoutUser' %}"><span
            style="color:rgba(201, 219, 10, 0.9);">[Logout]</span></a></p>

    <div class="background-image" style="background-image: url({% static 'assets/img/island.jpg' %});"></div>
    <h1>requester requests some thangs that need request'n</h1>
    <h3>Hard Drive Tracking System</h3>
    <a href="#" class="btn">Bet you won't click me</a>
</section>

<section class="our-work">
    <h3 class="title">some other section that you can delete</h3>
    <p>This section shows my work, it is blank because i haven't done anything yet, duh!.</p>
    <hr>
    <ul class="grid">
        <li class="small" style="background-image: url({% static 'assets/img/devcom_logo.png'%});"></li>
    </ul>
</section>

<section class="features">
    <h3 class="title">Features n ish-deletable</h3>
    <p>Wyngardium levi-o-sa.</p>
    <hr>
    <ul class="grid">
        <li>
            <i class="fa fa-user-secret"></i>
            <h4>Mission pass cheons class</h4>
            <p>Yah dee dah dee dah dee dah.</p>
        </li>
    </ul>
</section>


<section class="reviews">
    <h3 class="title">What dem peeple say: - deletable</h3>
    <p class="quote">The is dummy text but i aint no dummy.</p>
    <p class="author">— team1</p>
</section>

<section class="contact">
    <h3 class="title">Join the cult-jk delete me</h3>
    <p>TEXT GOES HERE</p>
    <hr>
    <form>
        <input type="email" placeholder="Email">
        <a href="#" class="btn">Catch me outside howbahdah</a>
    </form>
</section>
{% endblock %}