{% extends 'pages/base.html' %}
{% load static %}

{% block mainBody %}
<section class="hero">
    <div class="background-image" style="background-image: url({% static 'assets/img/island.jpg' %});"></div>
    <h1>Warning: You are about to delete a request</h1>
    <h6>Request event will not be removed by deleting this request</h6>
    {% for message in messages %}
    {{ message }}
    {% endfor %}
	<br>
    <p>Are you sure you want to delete request: "{{this_request.request_number}}"</p>
    <form method="POST">
        {% csrf_token %}
        {% if can_edit %}
        <a class="submit-button" href="{% url 'm_requests' %}">Cancel</a>
        {% else %}
        <a class="submit-button" href="{% url 'r_requests' %}">Cancel</a>
        {% endif %}
        <input class="submit-button-red" type="submit" value="Delete Request">
    </form>
</section>
{% endblock %}