<div id="navbar">
    <div id="dropdown">
        <button id="dropbtn">Requester
            <i class="fa fa-caret-down"></i>
        </button>
        <div id="dropdown-content">
            <a href="{% url 'r_requests' %}">Requests</a>
            <a href="{% url 'r_messages' %}">Messages</a>
            <a href="{% url 'r_my_requests' %}">My Requests</a>
            
        </div>
    </div>
    <div id="dropdown">
        <button id="dropbtn">Maintainer
            <i class="fa fa-caret-down"></i>
        </button>
        <div id="dropdown-content">
            <a href="{% url 'm_requests' %}">Requests</a>
            <a href="{% url 'm_hard_drives' %}">Hard Drives</a>
            <a href="{% url 'm_reports' %}">Reports</a>
            <a href="{% url 'm_configurations' %}">Configurations</a>
            <a href="{% url 'm_messages' %}">Messages</a>
        </div>
    </div>
    <div id="dropdown">
        <button id="dropbtn">Auditor
            <i class="fa fa-caret-down"></i>
        </button>
        <div id="dropdown-content">
            <a href="{% url 'a_hard_drives' %}">Hard Drives</a>
            <a href="{% url 'a_reports' %}">Reports</a>
            <a href="{% url 'a_messages' %}">Messages</a>
            <a href="{% url 'a_log' %}">Log</a>
        </div>
    </div>
    <a href="{% url 'logoutUser' %}">[Logout]</a>
</div>